{{> header account=account}}
{{> sidebar account=account}}


<section class="teachers">

   <h1 class="heading">my appointments</h1>

   <div class="box-container">

      {{!-- <div class="box offer">
         <h3>become a tutor</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque ipsam fuga ex et aliquam.</p>
         <a href="register.html" class="inline-btn">get started</a>
      </div> --}}

      {{#each appointments}}
      <div class="box">
        <div class="tutor">
          <div>
            <h3>Tutor</h3>
            <span>{{this.first_name}} {{this.last_name}}</span>
            <br><br>

            <h3>Date</h3>
            <span>{{this.date}}</span>
            <br><br>

            <h3>Time:  </h3>
            <span>{{this.time_begin}} to {{this.time_end}}</span>
            <br><br>

            <h3>Subject</h3>
            <span>{{this.subject_name}}</span>

          </div>
        </div>
        </div>
        {{/each}}

   </div>

</section>