{{> header account=account}}
{{> sidebar account=account}}


<section class="teachers">

   <h1 class="heading">Your favorites</h1>

   <div class="box-container">

      {{#each favorites}}
         <div class="box">
            <div class="tutor">
               <img src="images/{{this.avatar}}" alt="">
               <div>
                  <h3>{{this.first_name}} {{this.last_name}}</h3>
                  <h3>{{this.subject_name}}</h3>
                  <span>{{this.subject_description}}</span>
               </div>
            </div>
            
            <form action="/favorites" method="POST">
               <input type="hidden" name="favorite_id" value="{{this.favorite_list_id}}"
               <input type="hidden" name="subject_id" value="{{this.subject_id}}"/>
               <input type="hidden" name="tutor_id" value="{{this.account_id}}"/>
               <input class="btn btn-outline-seconodary btn-small m-1" type="submit" value="Remove">
            </form>
         </div>
      {{/each}}

   </div>

</section>