{{> header account=account}}
{{> sidebar account=account}}

<section class="teacher-profile">

   <h1 class="heading">profile details</h1>

   <div class="details">
      <div class="tutor">
         <img src="images/{{tutor.avatar}}" alt="">
         <h3>{{tutor.first_name}} {{tutor.last_name}}</h3>
         <span>tutor</span>
         <h3>About</h3>
         <span>{{tutor.about_me}}</span>
      </div>
      <div class="flex">
         <p>total playlists : <span>4</span></p>
         <p>total videos : <span>18</span></p>
         <p>total likes : <span>1208</span></p>
         <p>Hours Completed : <span>{{tutor.tutoring_hours}}</span></p>
      </div>
   </div>

</section>

<section class="courses">

   <h1 class="heading">our courses</h1>

   <div class="box-container">

      {{#each subjects}}
      <div class="box">
         {{!-- <div class="thumb">
            <img src="images/thumb-1.png" alt="">
            <span>10 videos</span>
         </div> --}}
         <h3 class="title">{{this.subject_name}}</h3>
         <h3 class="title">{{this.subject_description}}</h3>
         <form action="/courses" method="POST">
            <input type="hidden" name="subject_id" value="{{this.subject_id}}"/>
            <input type="hidden" name="subject_name" value="{{this.subject_name}}"/>
            <input type="hidden" name="tutor_id" value="{{../tutor.account_id}}"/>
            <input type="hidden" name="first_name" value="{{../tutor.first_name}}"/>
            <input type="hidden" name="last_name" value="{{../tutor.last_name}}"/>
            <input class="btn btn-outline-seconodary btn-small m-1" type="submit" value="Book Appointment">
         </form>
         <form action="/tutors/tutor" method="POST">
            <input type="hidden" name="subject_id" value="{{this.subject_id}}"/>
            <input type="hidden" name="subject_name" value="{{this.subject_name}}"/>
            <input type="hidden" name="tutor_id" value="{{../tutor.account_id}}"/>

            <input class="btn btn-outline-seconodary btn-small m-1" type="submit" value="Favorite">
         </form>
         {{!-- <a href="playlist.html" class="inline-btn">view playlist</a> --}}

      </div>
      {{/each}}

   </div>
</section>